/* Global wrappers
*******************************************************************************/
@font-face {
	font-family: "Open Sans Regular";
	src: url("../fonts/OpenSans-Regular-webfont.eot");
	src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/OpenSans-Regular-webfont.woff") format("woff"),
		 url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"),
		 url("../fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Containers */
body {
	padding-top: 90px;

	font-family: 'Source Sans Pro', 'Segoe UI', 'Droid Sans', Tahoma, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
	color: #4d4d4d;
	background-color: #fff;
}
body.static-header { padding-top: 0;}
#page-container {
	background: #3650ad;
	overflow: hidden;
}
#page-content {
	// min-height: 1050px;
	background: #fff;
	box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.1);
}
#wrap > .container {
	padding: 20px;
	min-height: 800px;

	@media (max-width: 480px) { min-height: initial;}
}
#wrap > .container > .row > .col-md-12 {
	padding: 4px 70px 0 70px;

	@media (max-width: 480px) {
		padding: 4px 20px 0 20px;
	}
}

#wrap > .container > .row > .col-md-12 p.lead { font-weight: bold;}

#wrap > .container > .row > .col-md-12 .table-responsive {
	margin: 100px 0 0 0;
	font-size: 1.2em;

	@media (max-width: 480px) {
		margin: 0;
	}

	th{
		padding: 27px 20px;
	}

	td{
		padding: 47px 27px;
		i{
			color: #f73f7d;
			font-size: 23px;
		}
	}
}

:focus { outline: none;}

::-moz-focus-inner { border: none;}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}
@media (min-width: 768px) {
	.container { width: 100%;}
}

@media (min-width: 992px) {
	.container { width: 100%;}
}

@media (min-width: 1200px) {
	.container { width: 100%;}
}

// Componentes extras
// *******************************************************************************
@import "components/_sidebar";

/* Page Heading */
#page-heading {
	background: #fff;
	margin: 96px 0 0 55px;
	
	@media (max-width: 480px) {
		margin: 0;
	}

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after { clear: both;}

	h2 {
		font-size: 38px;
		line-height: 30px;
		margin: 0;
		padding: 20px 20px 16px 20px;

		@media (max-width: 480px) {
			font-size: 28px;
		}
	}
	hr{
		border-color: #fd4080;
		border-width: 2px;
		float: left;
		margin: 0 0 0 20px;
		width: 8%;

		@media (max-width: 480px) {
			width: 50%;
		}
	}

}




.bg-gradient2 span,
.bg-gradient2:before {
	background: #fa4180;
	box-shadow: 0 0 12px 10px #ededed;
}

/* fancy Button */
.fancy-button {
	display: inline-block;
	margin: 20px;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.07em;
	text-transform: uppercase;
	line-height: 24px;
	color: #ffffff;
	position: relative;
	
	&:before {
		content: '';
		display: inline-block;
		height: 40px;
		position: absolute;
		bottom: -1px;
		left: 10px;
		right: 10px;
		z-index: -1;
		border-radius: 2em;
		transition: all 0.3s ease-out;
	}
	i {
		font-size: 1.8em;
		vertical-align: middle;
	}
	span {
		display: inline-block;
		padding: 16px 20px;
		border-radius: 50em;
		position: relative;
		z-index: 2;
		transition: all 0.3s ease-out;
	}

	&:focus{ color: #fff;}

	&:hover {
		color: #fff;
		
		span { transform: scale(0.96);}
		&:before { bottom: 3px;}
	}

	&.pop-onhover {
		span { border-radius: 4px;}

		&:before {
			opacity: 0;
			bottom: 10px;
		}
		&:hover {
			&:before {
				bottom: -7px;
				opacity: 1;
			}
			span { transform: scale(1); }

			&:active {
				span { transition: all 0.2s ease-out;}
			
				&:before {
					bottom: 0;
					transition: all 0.2s ease-out;
				}
			}
		}
	}
}
