a:hover,
a:focus,
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus{
	outline: none;
	text-decoration: none;
}

/* Layout
*******************************************************************************/
@import "layout/_header";	// La cabecera del sitio
	@import "interior"; 	// Los interiores y grueso del sitio
@import "layout/_footer";	// El pie desde los testimonios hasta el final