/* Layout - Footer
*******************************************************************************/
// Footer  ------------------------------------------
footer.footer{
	background: #252525;
	padding: 22px 0 0 0;

	.igf-footer{
		padding: 0 74px;

		@media (max-width: 480px) { padding: 0 10px; }

		img.logo-footer{
			max-width:187px;
			@media (max-width: 480px) { max-width:100%; }
		}

		.social {
			margin: 0;
			padding: 14px 0 0 0;
			position: relative;
			z-index: 100;

			@media (max-width: 480px) { padding: 0;}

			li {
				display: inline-block;
				margin-right: 6px;

				

				a {
					display: table;
					position: relative;

					&:hover i {
						color: #f0f0f0;

						&:after { height: 100%;}
					}

					i {
						text-align: center;
						display: table-cell;
						vertical-align: middle;
						width: 34px;
						height: 34px;
						font-size: 18px;
						-webkit-transition: all 200ms ease-out;
						-moz-transition: all 200ms ease-out;
						-o-transition: all 200ms ease-out;
						transition: all 200ms ease-out;

						@media (max-width: 480px) { width: 22px; }
						

						&:after {
							content: '';
							z-index: -1;
							position: absolute;
							width: 100%;
							height: 0;
							top: 0;
							left: 0;
						    -webkit-transition: all 200ms ease-out;
						    -moz-transition: all 200ms ease-out;
						    -o-transition: all 200ms ease-out;
						    transition: all 200ms ease-out;
						}
					}

					.fa-facebook:after		{ background: #3b5998; }
					.fa-instagram:after		{ background: #CB2027; }
					.fa-google-plus:after	{ background: #dd4b39; }
					.fa-youtube:after		{ background: #CB2027; }
					.fa-twitter:after		{ background: #00aced; }
					.fa-envelope:after		{ background: #EA4C89; }
				}
			}
		}

		.social-light li a i { color: #999;}
		.social-dark li a i { color: #666;}
	}
	

	.footer-bottom{
		background: #222;
		padding: 27px 0 12px 0;

		@media (max-width: 480px) { padding-top: 0;}

		.container{
			padding: 0 74px;
			@media (max-width: 480px) { padding: 0 10px;}
		}

		.footer-links{
			color: #fff;
			margin: 24px 0 0 0;

			@media (max-width: 480px) { margin-bottom: 20px;}
			
			li{
				padding: 0;

				&:before {
					color: #fff;
					content: "|";
				}

				&:first-child:before{ content: "";}
			}

			a{
				color: #fff;
				margin: 24px 0 0 0;
				padding: 0 5px;

				&:hover{ color: #4545b3;}
			}
		}

		.apps{
			img{
				display: inline-block;
				max-width: 133px;

				&.dataweb{
					max-width: 28px;
				}
			}
		}


	}

}