extends layout

append config
	- var pageTitle = "IguanaFix challenge | Home Page"

//-block append stylesheets
	link( href="../css/home.css", rel="stylesheet", type="text/css" )

block content
	#page-heading
		h2 Trabajos finalizados
		hr

	.container
		.row
			.col-md-12
				p.lead Desde este panel podés contratar todos los servicios que necesitás para tu empresa, navegar por las categorias o usar el buscador.

				.table-responsive
					table.table
						thead
							tr.active
								th Código del trabajo
								th Sucrusal
								th Tipo de trabajo
								th Fecha de realización

						tbody
							tr
								td
									i.fa.fa-times-circle  
									|  Cod. CF699
								td Acoyte
								td Visita y presupuesto de refacción
								td 15/01/2017

							tr.active
								td
									i.fa.fa-times-circle  
									|  Cod. CF699
								td Acoyte
								td Visita y presupuesto de refacción
								td 15/01/2017

				a.fancy-button.bg-gradient2.pull-right(href="#", data-toggle="modal", data-target="#myModal")
					span
						i.fa.fa-plus

			//- Modal
			.modal.fade#myModal(tabindex="-1", role="dialog", aria-labelledby="myModalLabel")
				.modal-dialog(role="document")
					.modal-content
						.modal-header
							button( type="button" data-dismiss="modal" aria-label="Close").close
								span(aria-hidden="true") &times;
							h4.modal-title#myModalLabel Modal title

						.modal-body
							form
								.form-group
									label(for="exampleInputEmail1") Email address
									input(type="email", placeholder="Email").form-control#exampleInputEmail1

								.form-group
									label(for="exampleInputPassword1") Password
									input(type="password",placeholder="Password").form-control#exampleInputPassword1
								
								.form-group
									label(for="exampleInputFile") File input
									input(type="file")#exampleInputFile
									p.help-block Example block-level help text here.

								.checkbox
									<label><input type="checkbox" /> Check me out </label>

								button(type="submit").btn.btn-default Submit

						.modal-footer
							button(type="button", data-dismiss="modal").btn.btn-default Close
							button(type="button").btn.btn-primary Save changes