block config
	include config

doctype
html(lang="en")
	head
		title
			block title
				| #{pageTitle}

		meta( charset="utf-8" )
		meta( http-equiv="X-UA-Compatible", content="IE=edge" )
		meta( name="viewport", content="width=device-width, initial-scale=1" )
		meta( name="description", content="Lorem ipsum dolor ait amet" )
		meta( name="author" content="" )
		link( rel="icon" href="favicon.ico" )

		//- Fonts -------------------------------
		link( href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600", rel="stylesheet", type="text/css" )

		//- Css -------------------------------
		block stylesheets
			link( href="css/default-dist.css", rel="stylesheet", type="text/css" )
			link( href="css/main-dist.css", rel="stylesheet", type="text/css" )
			link( href="fonts/fontawesome/css/font-awesome.min.css", rel="stylesheet", type="text/css" )
			
	//- END Head

	body
		//- Header
		header.navbar.navbar-inverse.navbar-fixed-top(role="banner")
			.navbar-header.pull-left
				a.navbar-brand(href="#") IguanaFix

			a#leftmenu-trigger.tooltips(data-toggle="tooltip",data-placement="right",title="",data-original-title="Cambiar barra lateral")


			ul.nav.navbar-nav.pull-right.toolbar
				li.dropdown
					a.dropdown-toggle.username(href="#" data-toggle="dropdown")
						span.hidden-xs Gabriel Iguana 
							i.fa.fa-caret-down  
						img(src="images/profile.jpg" alt="Gabriel Iguana")

					ul.dropdown-menu.userinfo.arrow
						li.username
							a( href="#")
								.pull-left
									img(src="images/profile.jpg" alt="Gabriel Iguana")
								.pull-right
									h5 Hola, Gabriel!
										small Logueado como 
											span gabocles

						li.userlinks
							ul.dropdown-menu
								li: a(href="#") Editar perfil
									i.pull-right.fa.fa-pencil
								li: a(href="#") Mi cuenta
									i.pull-right.fa.fa-cog
								li: a(href="#") Ayuda
									i.pull-right.fa.fa-question-circle
								li.divider
								li: a(href="#").text-right Desconectarse

				li.dropdown
					a.hasnotifications.dropdown-toggle(href="#", data-toggle="dropdown")
						i.fa.fa-bell
						span.badge 3

					ul.dropdown-menu.notifications.arrow
						li.dd-header
							span 3 notificaciones nuevas.
							span: a(href="#") Marcar todas vistas

						.scrollthis(style="overflow-y: hidden; outline: none;" tabindex="5006")
							li
								a(href="#").notification-user.active
									span.time 4 mins
									i.fa.fa-user
									span.msg Nuevo usuario registrado.

							li
								a(href="#").notification-danger.active
									span.time 20 mins
									i.fa.fa-bolt
									span.msg CPU al 92% en server#3!

							li
								a(href="#").notification-success.active
									span.time 1 hr
									i.fa.fa-check
									span.msg Server#1 activo.

							li
								a( href="#").notification-warning
									span.time 2 hrs
									i.fa.fa-exclamation-triangle
									span.msg Base de datos sobrecargada.

							li
								a(href="#").notification-order
									span.time 10 hrs
									i.fa.fa-shopping-cart
									span.msg Nueva orden recibida.

							li
								a(href="#").notification-failure
									span.time 12 hrs
									i.fa.fa-times-circle
									span.msg Error de aplicación

							li
								a(href="#").notification-fix
									span.time 12 hrs
									i.fa.fa-wrench
									span.msg Instalación exitosa

							li
								a(href="#").notification-success
									span.time 18 hrs
									i.fa.fa-check
									span.msg Cuenta creada.




						li.dd-footer
							a(href="#") Ver todas las notificaciones

				li.search-form
					form
						input(type="search" placeholder="Buscar")
		//- END Header


		#page-container

			//- BEGIN SIDEBAR
			nav#page-leftbar(role="navigation")
				//- BEGIN SIDEBAR MENU
				ul#sidebar.acc-menu
					
					//- <li id="search">
					//- 	<a href="javascript:;"><i class="fa fa-search opacity-control"></i></a>
					//- 	 <form>
					//- 		<input type="text" class="search-query" placeholder="Search...">
					//- 		<button type="submit"><i class="fa fa-search"></i></button>
					//- 	</form>
					//- </li>
					//- <li class="divider"></li>

					li: a(href="#")
						i.fa.fa-home
						span  Inicio

					li.divider

					li: a(href="#")
						i.fa.fa-suitcase
						span  Trabajos en proceso

					li.divider

					li.active: a(href="#")
						i.fa.fa-check
						span  Trabajos finalizados

					li.divider

					li: a(href="#")
						i.fa.fa-line-chart
						span  Estadísticas

					li.divider
				//- END SIDEBAR MENU

			#page-content
				#wrap

					//- Contenido de las paginas interiores -------------------------------

					block content

					//- END Contenido de las paginas interiores -------------------------------



					//- Footer -------------------------------
					footer.footer
						.container.igf-footer
							.row
								.col-md-4.col-xs-5.pull-left
									img(src="images/logo_grande.png", alt="").img-responsive.logo-footer

								.col-md-3.col-xs-7.pull-right.text-right
									ul.social.social-light
										li: a(href="#"): i.fa.fa-2x.fa-facebook
										li: a(href="#"): i.fa.fa-2x.fa-instagram
										li: a(href="#"): i.fa.fa-2x.fa-google-plus
										li: a(href="#"): i.fa.fa-2x.fa-youtube
										li: a(href="#"): i.fa.fa-2x.fa-twitter
										li: a(href="#"): i.fa.fa-2x.fa-envelope


						.container-fluid.footer-bottom
							.container
								.row
									.col-md-8.col-xs-12.pull-left
										ol.list-unstyled.list-inline.footer-links
											li: &copy; 2016 IguanaFix
											li: a(href="javascript:;") Seguridad
											li: a(href="javascript:;") Términos y condiciones
											li: a(href="javascript:;") Términos para profesionales
											li: a(href="javascript:;") Privacidad

									.col-md-4.pull-right
										ol.list-unstyled.list-inline.apps.pull-right
											li: a(href="javascript:;"): img(src="images/googleplay_es.png", alt="").img-responsive
											li: a(href="javascript:;"): img(src="images/appstore_es.png", alt="").img-responsive
											li: a(href="javascript:;"): img(src="images/DATAWEB.jpg", alt="").img-responsive.dataweb

					//- END Footer


				//- jQuery -------------------------------
				if jQuery
					script( src="javascripts/vendors/jquery-1.10.2.min.js" )
				//- BootstrapJS -------------------------------
				if BootstrapJS
					script( src="javascripts/vendors/bootstrap/bootstrap.min.js" )

				script(src="javascripts/vendors/enquire.js")
				script(src="javascripts/vendors/jquery.cookie.js")
				script(src="javascripts/vendors/jquery.nicescroll.min.js")
				script(src="javascripts/demo-challenge.js")


				//- Nav-tabs Dropdown -------------------------------
				//- if navTabsDropdown
					script( src="../javascripts/vendors/nav-tabs-dropdown.js" )