#page-leftbar {
	float: left;
	background: #3650ad;
	white-space: nowrap;
	position: relative;
	box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.1);

	&:before,
	&:after{
		content: " ";
		display: table;		
	}

	&:after { clear: both;}

	.collapse.in { padding: 5px 0 5px;}
	.collapse { padding: 0;}
}

/* Sidebar Menu */
#sidebar {
	padding-left: 0 !important;
	white-space: normal;

	.badge {
		font-weight: 600;
		background-color: rgba(21, 22, 26, 0.6);
		right: 25px !important;
	}

	i {
		color: #fff;
		font-size: 23px;
		margin-left: 16px;
		margin-right: 8px;
		min-width: 15px;
		text-align: center;
		display: inline-block;
	}

	.divider {
		width: 100%; height: 2px;
		margin: 1px 0;
		overflow: hidden;
		box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.1);
		background-color: #2e469c;

		&:hover { background-color: #2e469c;}
	}

	a { text-decoration: none;}

	ul {
		padding: 5px 0;
		list-style: none;
		padding-left: 0 !important;
	}

	ul,
	ul li a {
		background: #dfe0e2;
		color: rgba(63, 68, 76, 0.7);
		box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.1);
	}

	li.active i,
	li.active a:hover i { color: #fff;}

	li a {
		color: #fff;
		display: block;
		padding: 26px 10px;
		position: relative;

		&:hover {
			background-color: #1c368a;
			color: #fff;
			box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.1);

			i { color: #fff;}
		}
	}

	& > li.active > a {
		background: #1c368a;
		color: #fff;
		box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.1);

		border-left: 7px solid #ff4086;
		padding-left: 3px;
	}

	ul li a { padding: 5px 10px 5px 37px;}
	
	ul li.active:not(.open) > a {
		font-weight: 600;
		color: #3f444c;
	}
	
	li ul {
		display: none;
		padding: 0;
	}

	li li li a { padding-left: 60px;}
	ul ul ul li a { padding-left: 80px;}
	ul ul ul ul li a { padding-left: 100px;}


}
.collapse-leftbar #sidebar > li.hasChild:hover > ul { display: block !important;}
.collapse-leftbar #sidebar > li > ul { display: none !important;}
.collapse-leftbar #sidebar li:hover > ul.acc-menu { visibility: visible !important;}

/* Sidebar Layout + Responsive */
#page-leftbar { width: 230px;}
#page-content { margin-left: 230px;}

#wrap { overflow: hidden;}

@media (max-width: 767px) {

	#page-leftbar {
		/* Collapsed */
		width: 0;
		z-index: 1029;
	}
	#page-content,
	#sidebar {
		-webkit-transition: 250ms ease;
		transition: 250ms ease;
	}
	#sidebar { white-space: nowrap;}
	#page-content {
		margin-left: 0;
		width: 100%;
	}
	footer { margin-left: 0;}
	body.show-leftbar #page-leftbar { width: 230px;}
	body.show-leftbar #page-content { margin-left: 230px; }
	body.show-leftbar footer {
		-webkit-transform: translate(230px, 0);
		-ms-transform: translate(230px, 0);
		transform: translate(230px, 0);
	}

}

body.collapse-leftbar #page-leftbar { width: 70px;}
body.collapse-leftbar #page-content{ margin-left: 70px;}
body.collapse-leftbar footer{}

body.collapse-leftbar #sidebar > li {
	white-space: nowrap;
	z-index: 999;
	position: relative;

	span { display: none;}

	& > ul {
		position: absolute;
		width: 210px;
		left: 40px;
	}


	&:hover,
	.keep-open {
		box-shadow: inset -1px 0 0 0 rgba(0, 0, 0, 0.1);
		background: #1c368a;
		width: 250px;
	}

	&:hover span,
	.keep-open span { display: inline;}


	&:hover > ul,
	.keep-open > ul { display: block;}

	&:hover.divider,
	.keep-open.divider { width: 40px !important;}

	&:hover > a,
	.keep-open > a,
	&:hover a i,
	.keep-open a i { color: #fff;}

	.active:hover > a:after { display: none;}
	.active:hover > a,
	.active:hover > a i { color: #fff;}

}

body.collapse-leftbar #sidebar i {
	margin-right: 34px !important;
	margin-left: 16px;
}
body.collapse-leftbar #sidebar li li a { padding-left: 10px;}
body.collapse-leftbar #sidebar li li li a { padding-left: 20px;}
body.collapse-leftbar #sidebar li li li li a { padding-left: 30px;}